body {
  height: 100vh;
  /* margin: 0;
  padding: 0; */
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(su-san-lee-g3PyXO4A0yc-unsplash.jpg);
}

#game-begin {
  height: 40vh;
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 8%;
}

h1 {
  font-family: "Black Ops One";
  font-size: 50px;
}

#gameover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 600vw;
  background-color: red;
  border-radius: 8%;
  font-family: "Black Ops One";
  font-size: 30px;
}

#display-clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body button {
  font-size: 20px;
  background-color: #870007;
  color: rgb(45, 97, 41);
  padding: 10px 20px;
  border: 0;
  box-shadow: 5;
  border-radius: 5px;
  margin-bottom: 20px;
  border-radius: 5%;
}

.hidden {
  display: none;
}

#game-begin.hidden {
  display: none;
}

#gameover.hidden {
  display: none;
}

/* #display-clock.hidden {
  display: none;
} */
